Flask
pandas
openai
requests
matplotlib
wordcloud
Pillow
numpy==1.26.4
openpyxl
scikit-learn
dateparser
flask_cors
Babel
boto3
faiss-cpu==1.13.1
gunicorn
python-dotenv
langchain-openai
langchain-community
langchain-core